<h2><%= shows.title %> </h2>
<img id='result-poster' src="<%= shows.image_url %>" alt="Poster">

<h3>Rating: <%= shows.rating %> </h3>

<h3>Episodes: <%= shows.episodes %> </h3>

<h3>Status: <%= shows.status %> <br> Aired: <%= shows.aired.string %> </h3>



<h3>Synopsis</h3>
<p><%= shows.synopsis %> <br> <%= shows.background %> </p>

<h3>Producers: </h3>
<p>
<% for(let i = 0; i < shows.producers.length; i++) { %>
    <%= shows.producers[i].name + ","%>
<% } %> 
</p>

<h3>Genres: </h3>
<p>
<% for(let i = 0; i < shows.genres.length; i++) { %>
    <%= shows.genres[i].name + ","%>
<% } %> 

<form method="POST" action="/favorites">
    <input id='faveTitles' hidden type="text" name="title" value="<%= shows.title %>">
    <input id='faveTitles' hidden type="text" name="image" value="<%= shows.image_url %>">
    <button class="btn btn-primary" type="submit">Add to Favorites</button>
</form>

<form method="POST" action="/watch_list">
    <input id='pinnedTitles' hidden type="text" name="title" value="<%= shows.title %>">
    <input id='pinnedTitles' hidden type="text" name="image" value="<%= shows.image_url %>">
    <button class="btn btn-primary" type="submit">Add to Watch List</button>
</form>

</p>