


<% if (!currentUser) { %>
    
<% } else { %> 


    <!-- <div id="carouselContainer" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <%// shows.forEach(s => { %>
                <div class="carousel-item active">
                    <img id="carousel" src="<%=// s.image_url %>" class="d-block w-100" alt="poster">
                </div>
            <%// }) %> 
        </div>
      </div> -->

<div class="results-container">
    <% shows.forEach(s => { %>
        <div class="results-items">
            <!-- <a id="result-text" href="/details/<%=//s.mal_id%>"> -->
                
                <form method="POST" action="/details/<%=s.mal_id%>">
                    <input id='faveTitles' hidden type="text" name="title" value="<%= s.title %>">
                    <input id='faveTitles' hidden type="text" name="image" value="<%= s.image_url %>">
                    <input id='faveTitles' hidden type="text" name="apiId" value="<%= s.mal_id %>">
                    <button class="btn btn-link" type="submit">
                    
                    
                    <h2><%= s.title %> </h2>
                    <img id='results-poster' src="<%= s.image_url %>" alt="Poster">
                    
                    <h4>Details</h4>

                    </button>
                </form>

            <!-- </a> -->
        </div>
    <% }) %> 
</div>
<% } %> 