
<div class="watch-container">
    <% for (let i=0; i < pins.length; i++){ %>
        <% let eachPin = pins[i].get(); %>
       <div class="watch-items">
            <% if(eachPin.seen === "no") { %> 
                <div class="seen">
                    <h3><%= eachPin.title %> </h3>
                        <form method="POST" action="/watch_list/<%= eachPin.id %>?_method=PUT">
                            <input type="text" hidden name="showSeen" value="yes">
                            <!-- <button class="btn btn-primary" type="submit">notSeen</button> -->
                            <button class="fave-watch-button" type="submit"><img id="fave-watch" src="../assets/images/closed-eye.png" alt="fave button"></button>

                        </form>
                        <p>
                            <img id='results-poster' name="pinned" src="<%= eachPin.image %>" alt="poster">
                        </p>
                        <form method="POST" action="/watch_list/<%= eachPin.id %>?_method=DELETE">
                            <button class="btn btn-primary" type="submit">Remove from Watch List</button>
                        </form>
                </div>
            <% } else { %> 
                <div class="notseen">  
                    <h3><%= eachPin.title %> </h3> 
                        <form method="POST" action="/watch_list/<%= eachPin.id %>?_method=PUT">
                            <input type="text" hidden name="showSeen" value="no">
                            <button class="fave-watch-button" type="submit"><img id="fave-watch" src="../assets/images/open-eye.png" alt="fave button"></button>
                        </form>
                        <p>
                            <img id='results-poster' name="pinned" src="<%= eachPin.image %>" alt="poster">
                        </p>
                        <form method="POST" action="/watch_list/<%= eachPin.id %>?_method=DELETE">
                            <button class="btn btn-primary" type="submit">Remove from Watch List</button>
                        </form>
                </div>
            <% } %> 
        </div>
     <% } %>

</div>